{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box" style="max-width: 450px; margin:0 auto;">
      <h1 class="title has-text-centered">Новый пароль</h1>

      {% if token_fail %}
      <div class="notification is-danger has-text-centered">
        Ссылка недействительна или устарела.
      </div>
      {% else %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="field">
          <label class="label">Новый пароль</label>
          <div class="control">{{ form.password1 }}</div>
          <p class="help is-danger">{{ form.password1.errors }}</p>
        </div>

        <div class="field">
          <label class="label">Подтвердите пароль</label>
          <div class="control">{{ form.password2 }}</div>
          <p class="help is-danger">{{ form.password2.errors }}</p>
        </div>

        <div class="field has-text-centered">
          <button class="button is-primary" type="submit">Сохранить</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}